body {
  font-family: sans-serif;
  padding: 20px;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;


  
  background-color: #0f2841;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
input {
  padding: 8px;
}
button {
  padding: 10px;
  cursor: pointer;
  background-color: #0b3a16;
  color: white;
  border: none;
}
#links{
  text-align: center;
}
nav, a {
  /* text-decoration: none; */
  color: antiquewhite;
  
}
img {
  width: 180px;
  height: 180px;
  display: flex;
  /* margin-right: 1090px; */
}